<div class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("Rent A Car", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                @*<li class="nav-link">@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                <li class="nav-link">@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</li>
                <li class="nav-link">@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })</li>*@
                <li class="nav-link">@Html.ActionLink("Car Fleet", "Index", "Vehicles", null, new { @class = "nav-link" })</li>
                <li class="nav-link">@Html.ActionLink("Customers", "Index", "Customers", null, new { @class = "nav-link" })</li>
                <li class="nav-link">@Html.ActionLink("Bookings", "Index", "Bookings", null, new { @class = "nav-link" })</li>
                <li class="nav-link">@Html.ActionLink("Vehicle Groups", "Index", "VehicleGroups", null, new { @class = "nav-link" })</li>
                <li class="nav-link">@Html.ActionLink("Vehicle Types", "Index", "VehicleTypes", null, new { @class = "nav-link" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
